<ion-content [fullscreen]="true" class="save-location-page">
  <div class="top-bar">
    <div class="top-bar-left">
      <ion-back-button defaultHref="/pilih-penjemputan" icon="arrow-back" text="" class="back-btn"></ion-back-button>
      <ion-icon name="location" class="pin-icon"></ion-icon>
    </div>

    <ion-searchbar 
      placeholder="Masukkan lokasi" 
      class="custom-searchbar"
      search-icon="none">
    </ion-searchbar>
  </div>

  <div class="content-container">
    <div class="illustration-wrap">
      <img
        src="assets/alamat.png"
        alt="Ilustrasi simpan lokasi"
        class="illustration-img" />
    </div>

    <div class="text-content">
      <h1>Sering menggunakan lokasi yang sama?</h1>
      <p>Simpan lokasi untuk memesan lebih mudah.</p>
    </div>
  </div>


</ion-content>
