ion-content {
  --background: #fbfbfb;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 24px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  
  img {
    width: 100%;
    max-width: 320px;
    object-fit: contain;
  }
}

.bottom-content {
  padding: 0 30px;
  
  .header-text {
    margin-bottom: 30px;
    
    h1 {
      font-size: 28px;
      font-weight: 700;
      color: #111827;
      line-height: 1.3;
      text-align: center;
      margin: 0;
    }
  }

  .primary-btn {
    --background:  #0033ff;
    --background-hover: #0669d9;
    --background-activated: #0600ab;
    --color: #ffffff;
    --border-radius: 50px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 0;
    
    .line {
      width: 100px;
      height: 1px;
      background-color: #111827;
    }
    
    .text {
      padding: 0 16px;
      color: #111827;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .secondary-btn {
    --background: #ffffff;
    --background-hover: #f3f4f6;
    --background-activated: #f3f4f6;
    --color: #111827;
    --border-radius: 50px;
    --border-color: #d1d5db;
    --border-style: solid;
    --border-width: 1px;
    --box-shadow: none;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    letter-spacing: normal;
  }
}