<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="top-bar">
      <ion-button fill="clear" routerLink="/menu-login" color="dark" class="back-btn">
        <ion-icon name="chevron-back" style="font-size: 28px;"></ion-icon>
      </ion-button>
    </div>

    <div class="form-section">
      <div class="input-label">Nomor Ponsel</div>
      <div class="input-container">
        <div class="country-select">+62</div>
        
        <div class="divider"></div>
        
        <ion-input type="tel" inputmode="numeric" placeholder="Masukan Nomor Anda" class="phone-input" [(ngModel)]="phoneNumber" (ionInput)="validateNumber($event)"></ion-input>
      </div>
    </div>

    <div class="bottom-section">
      <ion-button class="next-btn" shape="round" expand="block" (click)="onSubmit()" [disabled]="!phoneNumber">
        Berikutnya
      </ion-button>
    </div>
  </div>
</ion-content>
