<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="top-bar">
      <ion-button fill="clear" routerLink="/login" color="dark" class="back-btn">
        <ion-icon name="chevron-back" style="font-size: 28px;"></ion-icon>
      </ion-button>
    </div>

    <div class="image-container">
      <img src="assets/logo-fivgo-driver.png" alt="logo fivgo">
    </div>

    <div class="bottom-content">
      <ion-button class="social-btn" shape="round" expand="block" routerLink="/form-telpon-login">
        <div class="icon-container">
          <ion-icon name="call"></ion-icon>
        </div>
        <span class="btn-text">Masuk dengan Nomor Telephone</span>
      </ion-button>
    </div>
  </div>
</ion-content>
