<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="aktivitas">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Aktivitas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesan">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Pesan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dompet">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Dompet</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
