<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="image-container">
      <img src="assets/logo-fivgo.png" alt="logo fivgo">
    </div>

    <div class="bottom-content">
      <div class="header-text">
        <h1>Ayo Bergabung!</h1>
      </div>
      
      <ion-button class="primary-btn" shape="round" expand="block" routerLink="/menu-login" >
         Masuk
      </ion-button>
      
      <div class="divider">
        <span class="line"></span>
        <span class="text">Atau</span>
        <span class="line"></span>
      </div>
      
      <ion-button class="secondary-btn" shape="round" expand="block" routerLink="/form-telpon-daftar">
         Daftar
      </ion-button>
    </div>
  </div>
</ion-content>
