<ion-content [fullscreen]="true">
  <div class="landing-container">
    <div class="header-text">
      <h1>Selamat Datang di<br>FivGo!</h1>
    </div>
    
    <div class="image-container">
      <img src="assets/landing-page.png" alt="FivGo Illustration">
    </div>

    <div class="bottom-content">
      <p class="subtitle">Jelajahi kemudahan dalam satu aplikasi</p>
      <ion-button class="start-btn" shape="round" expand="block" routerLink="/login">
        Mulai Sekarang
      </ion-button>
    </div>
  </div>
</ion-content>
